coches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oferta" type="ofertaType">
    <xs:annotation>
      <xs:documentation> Andres Emiliano Ramos Gimenez </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="modeloType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="color" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="motorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="combustible" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="extraType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="valor" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fotoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="imagen" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="vehiculoType">
    <xs:sequence>
      <xs:element type="xs:string" name="marca"/>
      <xs:element type="modeloType" name="modelo"/>
      <xs:element type="motorType" name="motor"/>
      <xs:element type="xs:string" name="matricula"/>
      <xs:element type="xs:string" name="kilometros"/>
      <xs:element type="xs:string" name="precio_inicial"/>
      <xs:element type="xs:string" name="precio_oferta"/>
      <xs:element type="extraType" name="extra" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="fotoType" name="foto" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ofertaType">
    <xs:sequence>
      <xs:element type="vehiculoType" name="vehiculo" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>