.idea/libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libros" type="librosType">
    <xs:annotation>
      <xs:documentation> Andres Emiliano Ramos Gimenez </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="precioType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="moneda"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>


  <xs:complexType name="libroType">
    <xs:sequence>
      <xs:element type="xs:string" name="ISBN"/>
      <xs:element type="xs:string" name="titulo"/>
      <xs:element type="xs:string" name="nivel"/>
      <xs:element type="xs:string" name="autor"/>
      <xs:element type="xs:string" name="editorial"/>
      <xs:element type="xs:string" name="fecha_publicacion"/>
      <xs:element type="precioType" name="precio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libreriaType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombrelibreria"/>
      <xs:element type="libroType" name="libro"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="librosType">
    <xs:sequence>
      <xs:element type="libreriaType" name="libreria"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>